/* VuetifyのカスタムCSSがあればここに */
.v-data-table-headers--mobile {
    display: none;
}

/* Chrome/Edge/Safari等の標準アイコンを非表示にする */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
    -webkit-appearance: none;
}